*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
  font-size: 10px;
}

.container {
  margin: 0, auto;
  width: 375px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em;
}


/*** Navigation ***/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1826;
  padding: 20px;
  color: #F2E5E5;
}

nav ul{
  list-style: none;

}

nav li{
  display: inline-block;
}

nav li a{
  text-decoration: none;
  color: #F2E5E5;
}


/*** Hero ***/
.hero {
  background-color: #1B1826;
  padding: 20px;
  color: #F2E5E5;
}

.hero__name {
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.3em;
}


.hero__profession{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.3em;
}

.hero__profession {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.8em;
}


/* h1, h2, h3 {
  font-weight: 300;
}


*/

.down-arrow {
  font-size: 2.5em;
  text-align: center;
  padding-top: 3.5rem;
}

.down-arrow a {
  text-decoration: none;
  color: #F2E5E5;
}

/***** Projects ****/

.project__title {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}

.project__summary {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

.project_button {
  background-color: #35B999;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  cursor: pointer;
}


.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  width: 80%;
  box-shadow: 4px 2px 12px grey;
/* border: 5px solid red; */
}

.cover {
	display: block; /*needed??*/
	width: 100%;
	height: auto;
}

.vdubs__logo {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}


/***** Case Study *****/

.centered {
  position: absolute;
  top: 3%;
  left: 50%
  transform: (-50%, -50%);
}

.logo__casestudy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.deliverables {
  background-color: #F5E2FF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.deliverables__titles {
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}

.deliverables__list {
  font-weight: 400;
  line-height: 3.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

h4  {
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.habits {
  list-style-type: none;
  font-weight: 600;
  line-height: 2.5em;
  margin-left: 2.5em;
}

.habits.numbered {
  list-style-type: decimal;
  font-weight: 600;
  line-height: 2.5em;
  margin-left: 2.5em;
}



hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: auto;
  border-color: #35B999;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  width: 50%;
}

.lesson {
  background-color: #35B999;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  padding-top: 0.5em;
}

.lesson.paragraph {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
  padding-top: 0.5em;
}

.main__header {
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  font-weight: 300;
}


p {
  font-size: 1.2em;
  line-height: 1.8em;
  padding-bottom: 2em;
}

.prob-solution {
  font-size: 2em;
  font-weight: 600;
}

.project__nav {
  background-color: #FFFFFF;
}


.section__subheading {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 300;
  padding-bottom: 0;
}

.section__heading {
  font-size: 1.6em;
  font-weight: 600;
  padding-bottom: 0.7em;
}

.survey {
  height: 15em;
  font-weight: 600;
  line-height: 2.5em;
  margin-left: 1.5em;

}

.survey_learning {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.8em;
  padding-bottom: 0em;
}

.survey__results {
  position: relative;
  text-align: center;
}

.survey__results__list {
  list-style: none;
  line-height: 2em;
}

.survey__results__nonlist {
  font-size: 1em;
  padding-bottom: 1em;
}



.verticalline {
  border-left: 3.5px solid black;
  border-radius: 2.5px;
  margin-left: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}

/* user personas */

.persona__name {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.persona__id {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  padding: 0;
}

.motivations_frustrations {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 1.5em;
}

.persona__description {
  text-align: center;
}

.persona__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* user testing */
.results-number {
  float: left;
}

.results-text {
  float: right;
}


/**** Branding ****/

.vdubs__large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}



/*** Footer ***/

.copywrite {
  font-size: .7em;
  margin-top: 3rem;
  line-height: 1.5rem;
  text-align: center;
}

footer {
  background-color: #1B1826;
  color: #F2E5E5;
  padding: 1.5rem;
}

.footer__connect {
  font-size: 1.8em;
  font-weight: 300;
  padding-bottom: 0.5em;
  text-align: center;

}

.social {
  font-size: 1.5em;
  text-align: center;
}

.social a {
  text-decoration: none;
  color: #F2E5E5;
  padding: 1.2rem;
}

.social__text {
  font-size: 0.5em;
  text-align: center;
}


/**** ABOUT SECTION ****/

.about.title {
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 1em;
}

.about.header {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.about.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}


/**** CONTACT FORM ****/

.contact__title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.contact__text {
  text-align: center;
}

.contact-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input, .message {
  border-color: #aaaaaa;
  border-radius: 6px;
  border-width: 2px;
  display: block;
  padding: 0.5em;
  margin: 1em;
}

.label {
  font-weight: 600;
  font-size: 6em;
}
