*, *:before, *:after {
  box-sizing: border-box;
}


html {
  background-color: #FFFFFF;
  font-size: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}



h1, h2, h3, h4, p {
  margin-bottom: 1em;
}

/****************************KEYFRAMES ******************/
.down-arrow {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce-down {
    animation-name: bounce-down;
    animation-timing-function: ease;
}
@keyframes bounce-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.down-arrow a:hover {
  color: #35B999;
}








/*** NAVIGATION SECTION ***/

/* curtain menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #35B999;
}

.overlay .closebtn {
  position: absolute;
  top: 0.1em;
  right: 0.3em
  font-size: 6em;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/***************/
.fa.fa-bars {
  float: right;
  padding-top: 0.7em;
}

.header__logo {   /*my logo */
  width: 80%;
}


.logo {
  display: inline-block;
  padding-top: 2em;
}


nav {
  background-color: #1B1826;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
  /* padding-top: 2em; */
  color: #F2E5E5;
}

nav ul{
  float: right;
  font-size: 1.8em;
  list-style: none;
  padding-top: 0.3em;
  text-transform: uppercase;

}

nav li{
  display: inline-block;
  margin-left: 3em;
  padding-top: 2em;
  position: relative;
}

nav li a{
  color: #F2E5E5;
}

nav li a:hover {
  color: #35B999;
}

nav li a:active {
  color: #35B999;
}

nav li a::before {
  background-color: #35B999;
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  top: -5.5px; /* used to be 0 */
  transition: all ease-in-out 200ms;
}

nav li a:hover::before {
  width: 100%;
}


/**** HERO SECTION ***/
.hero {
  background-color: #1B1826;
  color: #F2E5E5;
  clear: both;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 4em;
  padding-bottom: 2em;
}

.hero__name {
  font-size: 4em;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: .5em;
}


.hero__profession {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.hero__story {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.8em;
}

.down-arrow {
  font-size: 3.5em;
  text-align: center;
  padding-top: 1em;
}

.down-arrow a {
  text-decoration: none;
  color: #F2E5E5;
}




/***** PROJECTS SECTION (on homepage) ****/

.project__title {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 0.3em;
  text-align: center;
}

.project__summary {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.2em;
}

.project_button_homepage {
  background-color: #35B999;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  width: 80%;
  box-shadow: 4px 2px 12px grey;
/* border: 5px solid red; */
}

.cover {
	display: block; /*needed??*/
	width: 100%;
	height: auto;
  padding: 0;
}

.vdubs__logo {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}


/***** CASE STUDY *****/

/*hero section of case study*/
.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*buttons*/
.project_button {
  background-color: #35B999;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.7em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 12em;
}

.wrapper__casestudy {
  margin-left: 2.5em;
  margin-right: 2.5em;
}


/* Roles & Responsibilities */
.deliverables__flex {
  background-color: #F5E2FF;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deliverables__titles {
  font-weight: 700;
  font-size: 2.2em;
  margin-bottom: 0.1em;
  text-align: center;
}

.deliverables__list {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 3.5rem;
  text-align: center;
  padding-bottom: 2rem;
}


/*Overview*/
.main__header {
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 1.7em;
  font-weight: 300;
}

hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 3em;
  margin-left: -3em;
  margin-right: auto;
  border-color: #35B999;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  width: 55%;
}

.prob-sol-con {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.7em;
  line-height: 1.9em;
  padding-bottom: 1em;
}


/* in-project navigation */
nav.project__nav {
  background-color: #1B1826;
  font-size: 1.7em;
  line-height: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.project__nav a {
  text-decoration: none;
  color: #F2E5E5;
}

.project__nav a:hover {
  color: #35B999;
  }
}


.logo__casestudy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 28%;
}




/* Cars and Coffee */
.list {
  font-size: 1.6em;
  font-weight: 600;
  list-style: none;
  margin-left: 1.5em;
  margin-bottom: 2.5em;
}

.list.numbered li{
  /* list-style-type: decimal; */
  line-height: 1.7em;
  margin-top: 1.2em;
  counter-increment: li;
}

ol.list.numbered li::before {
  content: counter(li);
  color: #35B999;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}






/* Lessons */

.lesson {
  background-color: #35B999;
  padding-top: 1.5em;
}

.lesson__title {
  color: #FFFFFF;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.lesson__paragraph {
  color: #FFFFFF;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.8em;

}




.section__subheading {
  margin-top: 1em;
  font-size: 1.6em;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section__heading {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.section__heading.social {
  margin-top: 2em;
}

/*survey*/
ul.survey {
  font-size: 1.6em;
  font-weight: 600;
  list-style: none;
  margin-left: 1.5em;
  margin-bottom: 2.5em;

}

.survey_learning {
  font-weight: 300;
  font-size: 1.9em;
  line-height: 1.6em;
  padding-bottom: 0em;
}

ul.survey li {
  line-height: 1.7em;
  margin-top: 1.2em;

}

ul.survey li::before {
  content: "\2022";  /* Code/unicode for a bullet */
  color: #35B999;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.survey__results {
  background-image: url(../images/results_cloudstorage.png);
  background-size: cover;
  padding-bottom: 2em;
}

.survey__results__list {
  font-size: 1.6em;
  list-style: none;
  line-height: 2em;
  text-align: center;
}

.survey__results__flexbox {
  display: flex;
  flex-direction: column;
}

.section__subheading__results {
  font-size: 2.4em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

h4  {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
}



/* user personas */
.personas__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.persona__name {
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
}

.persona__id {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 1.9em;
  padding: 0;
  text-align: center;
}

.motivations_frustrations {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 0.2em;
  text-align: center;
}

.persona__description {
  text-align: center;
}

.persona__image {
  display: block;
  margin-left: auto;
  margin-right: auto;

}



/* user flows */
.user-flows {
  padding-bottom: 0;
}

.flows__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}






/* user testing */

.results-list {
  counter-reset: li;
  list-style-type: none;
  font-size: 1.6em;
  font-weight: 600;
  margin-left: 1.5em;
  margin-bottom: 2.5em;
}

.results-list li {
  counter-increment: li;
  line-height: 1.7em;
  margin-top: 1.2em;
  margin-left: 2em;
  position: relative;


}

ol.results-list li::before {
  content: counter(li);
  color: white;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.7em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
  height: 1.7em;
  background: #EB0000;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  /* left: 0; */ /* moves the bullets only */
  top: 0.2em;
}

span.bullet-gap {
  position: relative;
  left: 1em;
}



.results-number {
  float: left;
}

.results-text {
  float: right;
}





/**** Branding ****/
.palette__flex {
  display: flex;
  flex-direction: row;
}

p.colors__text {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.colors {
  text-align: center;
  padding-right: 3em;
}

.circle {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.navy {
  background: #003270;
}

.gray {
  background: #BAC3CF;
}

.lightblue {
  background: #008FE0;
}

.black {
  background: #07040D;
}

.red {
  background: #EB0000;
}

.yellow {
  background: #F9B81C;
}

.white {
  background: #FDF8F0;
}

.vdubs__large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}


/*pref tests*/
p.preftests__title {
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}



/**** CONCLUSION ****/
.conclusion {
  background-image: url(../images/conclusion.png);
  background-size: cover;
  margin-top: 4em;
  padding-top: 2em;
}

/*back to top */

.to-top{
	color: #1B1826;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color: #1B1826;
	text-decoration:none;
  text-align: right;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:pink;
	border-color:pink;
}
.to-top:hover:before{
	transform: rotate(360deg);
}







ul.to-top {
  font-size: 1.8em;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-right: 2em;
  text-align: right;
}

ul.to-top a {
  color: #35B999;
}

/**** IMAGES IN CASE STUDY ****/
.solutions-screens {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

.user-flow-vertical {
  height: auto;
  width: 100%;
}

.user-flow-horizontal {
  height: auto;
  width: 100%;
}

.wireframe-sketches {
  height: auto;
  width: 100%;
  /* max-width: 750px; */
}

.digital-wireframes {
  height: auto;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 3em;
}

.digital-wireframes-horizontal {
  height: auto;
  width: 100%;
  /* max-width: 950px; */
}

.user-testing-mobile, .user-testing-desktop {
  height: auto;
  width: 100%;
}

.moodboard {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.logo-sketches-mobile {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.logo-sketches-desktop {
  height: auto;
  width: 100%;
  max-width: 500px;
}

.vdubs__large {
  max-width: 400px;
}


.mobile-landingpage {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.vdubs-isometric2 {
  display: block;
  height: auto;
  /* box-shadow: 4px 2px 12px grey; */
  filter: drop-shadow(0 0 7px #AFAFAF);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 3em;
  width: 100%;


}


/*homepage*/
.isometric__summary-mobile, .isometric__summary-desktop {
  height: auto;
  width: 100%;
  /* max-width: 400px; */
}





/*** Footer ***/

.copywrite {
  font-size: 1.3em;
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
  padding-bottom: 0;
}

footer {
  background-color: #1B1826;
  color: #F2E5E5;
  padding: 1.5rem;
}

.footer__connect {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0.6em;
  text-align: center;
}

.social__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
  margin: auto;
}

.social__icons {
  text-align: center;
}

.social__icons a {
  color: #F2E5E5;
  font-size: 2.5em;
}

.social__text {
  font-size: 1em;
  padding-bottom: 0;
}



/**** ABOUT SECTION ****/

.about.title {
  font-size: 2.3em;
  font-weight: 600;
  line-height: 1.6em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.about.header {
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.about.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 4em; */
}

.about__wrapper {
  margin-left: 3em;
  margin-right: 3em;
}

.project_button.contact {
  margin-top: 1.5em;
  margin-bottom: 2em;
}





/**** CONTACT FORM ****/


.wrapper__contact{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
}



.contact__title {
  font-size: 3em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.contact__text {
  text-align: center;
}

.contact-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input, .message-box {
  border-color: #aaaaaa;
  border-radius: 6px;
  border-width: 1px;
  display: block;
  margin-top: .8em;
  margin-bottom: 2.3em;
}

.input-box {
  height: 3.5em;
  width: 100%;
}

.message-box {
  height: 9em;
  width: 100%;
}

.form-text {
  font-size: 1.7em;
  font-weight: 600;
}

.project_button.send {
  margin-top: 2em;
  margin-bottom: 2em;
}


/***** MEDIA QUERIES *****/

@media screen and (min-width: 760px) {
  .fa.fa-bars {
    display: none;
  }

  nav ul{
    float: right;
    font-size: 1.8em;
    list-style: none;
    text-transform: uppercase;

  }

  nav li{
    display: inline-block;
    margin-left: 3em;
    padding-top: 2em;
    position: relative;
  }

  nav li a{
    color: #F2E5E5;
  }

  nav li a:hover {
    color: #35B999;
  }

  nav li a:active {
    color: #35B999;
  }

  nav li a::before {
    background-color: #35B999;
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms;
  }

  nav li a:hover::before {
    width: 100%;
  }
}

@media screen and (max-width: 759px) {
  ul.nav__desktop {
    display: none;
  }
}

@media screen and (min-width: 530px) {
  .project {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 4px 2px 12px grey;
    /* border: 5px solid red; */
  }
}

@media screen and (min-width: 800px) {
  .cover {
    display: none;
  }

  .project {
    background: url(../images/vdubs_isometric_resizeTEST.png) no-repeat;
    background-position: center;
    background-size: cover;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 80%;
    max-width: 500px;
    /* max-height: 700px; */
    box-shadow: 4px 2px 12px grey;
    /* border: 5px solid red; */
  }
}


/* media query for user personas - rows */
@media screen and (min-width: 768px) {
  .personas__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .persona-one, .persona-two, .persona-three {
    margin-left: 4em;
    margin-right: 4em;
  }
}


/* footer */
@media only screen and (min-width: 768px) {
  .social__flex { /*changing how close together the icons are */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 21%;
    margin: auto;
  }
}

/* contact form */
@media only screen and (min-width: 768px) {
  .wrapper__contact{
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;
  }

  .contact__title {
    font-size: 3.5em;
  }

  .contact__text {
    font-size: 1.8em;
    margin-left: 9em;
    margin-right: 9em;
  }

  .contact-form{
    width: 55%;
  }
}

/* about */
@media only screen and (min-width: 768px) {
  .about.title {
    font-size: 2.5em;
    margin-left: 7em;
    margin-right: 7em;
  }

  .about__wrapper {
    margin-left: 25em;
    margin-right: 25em;
  }
}


@media only screen and (min-width: 768px) {
  /* nav bar */
  nav {
    padding-left: 5em;
    padding-right: 5em;
  }

  .header__logo {
    width: 100%;
  }

  /* hero */
  .hero__name {
    font-size: 5.5em;
    margin-bottom: 0.2em;
  }

  .hero__profession {
    font-size: 4em;
    margin-bottom: 0.2em;
  }

  .hero__story {
    font-size: 2.5em;
  }


 /* CASE STUDY intro */
 .logo__casestudy{
   margin-bottom: 1em;
   width: 13%;
 }

 .project__title {
   font-size: 3.5em;
 }

 .project__summary {
   font-size: 2em;
   padding-bottom: 0;
 }

 /* roles & responsibilities */
 .deliverables__flex {
   flex-direction: row;
   justify-content: space-around;
   padding-bottom: 1em;
 }

 .vl {
   border-left: 1px solid purple;
   height: 310px;
 }

 .deliverables__titles {
   font-size: 2.3em;
   margin-bottom: 0.3em;
 }

 .deliverables__list {
   font-size: 1.7em;
 }

 /* overview */
.wrapper__casestudy {
   margin-left: 21em;
   margin-right: 21em;
 }

 hr {
   margin-left: 0;
   width: 100%;
 }

 .solutions-screens {
   margin-left: -5em;
 }



 /* images */

 .digital-wireframes {
   margin-top: 7em;
   margin-bottom: 5em;

 }

 .user-testing-mobile {
   margin-top: 7em;
   margin-bottom: 5em;
 }

 .logo-sketches-mobile {
   width: 75%;
 }

 .vdubs-isometric2 {
   width: 75%;

 }



/* things I need queries for:
padding of nav bar in desktop
nav {
  background-color: #1B1826;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  color: #F2E5E5;
}

.footer__connect {
  font-size: 3em;
  font-weight: 300;
  padding-bottom: 0.6em;
  text-align: center;
}

.social__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}



.about.title {
  font-size: 2.3em;
  font-weight: 600;
  line-height: 1.6em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 6em;
  margin-right: 6em;
  text-align: center;
}

.about.header {
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.about.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

.about__wrapper {
  margin-left: 4em;
  margin-right: 4em;
}

.project_button.contact {
  margin-top: 0;
}


.wrapper__contact {

}




.contact__title {
  font-size: 3em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.contact__text {
  text-align: center;
}

.contact-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input, .message-box {
  border-color: #aaaaaa;
  border-radius: 6px;
  border-width: 1px;
  display: block;
  margin-top: .8em;
  margin-bottom: 2.3em;
}

.input-box {
  height: 3.5em;
  width: 100%;
}

.message-box {
  height: 9em;
  width: 100%;
}

.form-text {
  font-size: 1.7em;
  font-weight: 600;
}







spacing of footer icons in desktop - make width 25%



*/
